In [1]:
import argparse
import psycopg2 as pg
import pandas as pd
import numpy as np
#import sys
#sys.path.append("../")
#from export.config import ZERO_TIME 
#from export.time_convert import convert

In [2]:
conn = pg.connect(database="stackexchange", user="utkarsh", password="12u34", host="psql-science.mpi-sws.org")

# GET BASIC STATS

In [3]:
df = pd.read_sql_query("SELECT id, reputation, location, views, upvotes, downvotes, age FROM users", conn) 
df.head()

In [4]:
##df = df.rename(columns={"id": "userid"})
df = df[(df.id!=-1) & (~df.id.isnull())]
##df = df[~df.isnull().any(axis=1)]

In [5]:
df["reputation"] = df["reputation"].apply(lambda v: np.log(1+v))
df["views"]      = df["views"].apply(lambda v: np.log(1+v))
df["upvotes"]    = df["upvotes"].apply(lambda v: np.log(1+v))
df["downvotes"]  = df["downvotes"].apply(lambda v: np.log(1+v))

In [ ]:
df.head()

# APPEND COMMENTING STATS

In [6]:
user2comments = pd.read_sql_query("SELECT userid as id, count(*) as comments FROM comments GROUP BY userid", conn)    
user2comments["comments"] = user2comments["comments"].apply(lambda v: np.log(1+v))
user2comments.set_index("id", inplace=True)

In [7]:
df = df.join(user2comments, on='id', how="outer")

# CALCULATE EMBEDDINGS

In [8]:
df.head()

          id  reputation location     views  upvotes  downvotes  age  comments
0  2182446.0    0.693147     None  1.098612      0.0        0.0  NaN  2.302585
1  2182447.0    0.693147     None  1.098612      0.0        0.0  NaN       NaN
2  2182448.0    0.693147     None  1.609438      0.0        0.0  NaN       NaN
3  2182449.0    0.693147     None  0.000000      0.0        0.0  NaN       NaN
4  2182450.0    0.693147     None  0.000000      0.0        0.0  NaN       NaN

In [9]:
df.to_csv("../../data/badges/user_features.tsv", sep="\t", index=False, header=True)

In [10]:
import export_location_embeddings #GENERATE AND SAVE EMBEDDINGS!
export_location_embeddings.main()

In [11]:
user2city = pd.read_csv("../../data/badges/user_city_clusters.tsv", sep="\t")
user2state = pd.read_csv("../../data/badges/user_state_clusters.tsv", sep="\t")

# APPEND EMBEDDING RESULTS

In [12]:
user2city.set_index("id", inplace=True)
df = df.join(user2city, on='id', how="outer")

In [13]:
user2state.set_index("id", inplace=True)
df = df.join(user2state, on='id', how="outer")

# SAVE RESULTS

In [14]:
print(len(df))
print(df.head())

3473096
            id  reputation location     views  upvotes  downvotes  age  \
0  2.18245e+06    0.693147     None  1.098612      0.0        0.0  NaN
1  2.18245e+06    0.693147     None  1.098612      0.0        0.0  NaN
2  2.18245e+06    0.693147     None  1.609438      0.0        0.0  NaN
3  2.18245e+06    0.693147     None  0.000000      0.0        0.0  NaN
4  2.18245e+06    0.693147     None  0.000000      0.0        0.0  NaN

   comments  c0  c1  c2  c3  c4  s0  s1  s2  s3  s4
0  2.302585 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
1       NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2       NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
3       NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
4       NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

In [15]:
df = df[(df.id!=-1) & (~df.id.isnull())]
df["id"] = df["id"].apply(lambda v: int(v))
df.to_csv("../../data/badges/covariates.tsv", sep="\t", index=False, header=True)