In [10]:
import argparse
import psycopg2 as pg
import pandas as pd
import numpy as np
import sys
sys.path.append("../")
#from export.config import ZERO_TIME 
from export.time_convert import convert

In [5]:
conn = pg.connect(database="stackexchange", user="utkarsh", password="12u34", host="psql-science.mpi-sws.org")

In [8]:
df = pd.read_sql_query("select userid as id, rep100, rep200, rep500, rep1000, rep1500 from userreputation", conn)

In [12]:
df.head()

        id  rep100     rep200     rep500    rep1000    rep1500
0        1     3.0 2008-08-05 2008-08-13 2008-08-23 2008-09-06
1        2    22.0 2008-09-24 2009-05-21 2011-09-27 2013-03-31
2        3    27.0 2008-10-06 2009-01-19 2009-08-03 2010-01-23
3  2097156     NaN        NaT        NaT        NaT        NaT
4  2583796     NaN        NaT        NaT        NaT        NaT

In [11]:
df["rep100"] = df["rep100"].apply(convert)

In [ ]:
df["rep200"] = df["rep200"].apply(convert)
df["rep500"] = df["rep500"].apply(convert)
df["rep1000"] = df["rep1000"].apply(convert)
df["rep1500"] = df["rep1500"].apply(convert)

In [ ]:
df.to_csv("../../data/user_reputation.tsv", sep="\t", index=False, header=True)